<div class="mt-4">
  <h3>
    Upload Course
  </h3>
  <form method="POST" action="/courses/store">
    <div class="mb-3">
      <label for="courseName" class="form-label">Course Name</label>
      <input
        type="text"
        class="form-control"
        id="courseName"
        name="name"
      />
    </div>
    <div class="mb-3">
      <label for="courseDescription" class="form-label">Course Description</label>
      <input
        type="text"
        class="form-control"
        id="courseDescription"
        name="description"
      />
    </div>
    <div class="mb-3">
      <label for="courseVideoId" class="form-label">Course Video Id</label>
      <input
        type="text"
        class="form-control"
        id="courseVideoId"
        name="videoId"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>